@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  color: CanvasText;
  background-color: Canvas;
}

button {
  border: 1px solid transparent;
  outline: none;
}

.cell {
  outline: 1px solid lightgreen;
  outline-offset: -1px;
}